---
import styles from "../styles/Header.module.css";
---

<header class={styles.header}>
  <nav class={styles.nav}>
    <div class={styles.left}>
      <a href="/illustrations" class={styles.link}>illustrations</a>
      <a href="/comics" class={styles.link}>comics</a>
    </div>
    <a href="/" class={styles.logo}>玉林</a>
    <div class={styles.right}>
      <a href="/writing" class={styles.link}>writing</a>
      <a href="#contact" class={styles.link}>contact</a>
    </div>
  </nav>
</header>
